<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="headerMenu">
        <a class="button" href="/api/build">Получить список</a>
    </div>
    <form id="settingsForm" action="/api/settings" method="POST">
        Название репозитория:<input type="text" name="repoName" class="settings_item" value="{{repoName}}">
        Название главной ветки:<input type="text" name="mainBranch" class="settings_item" value="{{mainBranch}}">
        Команда для сборки:<input type="text" name="buildCommand" class="settings_item" value="{{buildCommand}}">
        Период проверки новых коммитов:<input type="number" name="period" class="settings_item" value="{{period}}">
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>